---
import '../global.css'
import Navspriki from '../components/spriki-components/Navspriki.astro'
import StandardHead from '../components/standard-head.astro'
const { name, title, about, whats } = Astro.props
---
<html lang="en">
    <head>
        <StandardHead title={name} />
    </head>
    <body>
        <Navspriki />
        <div class="main-spriki">
            <h1>{title}</h1>
            <br>
            <h2>What is {title}?</h2>
            <p>{whats}</p>
            <br>
            <p>{about}</p>
            <slot />
        </div>
    </body>
</html>